@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>We don’t believe in perfect homes. We believe in homes that are a perfect reflection of the people who live inside. 
    Where everything looks the way you want it to, works the way you need it to, and just generally makes you feel good – 
    without costing a fortune. That’s why we’ve filled this section with tons of different home ideas, from home decoration 
    ideas to organizing tips to inspiration for making your home more green. So, you’ll have all you need for creating a space
    that you love calling home.</p>
