@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    123 Ideclare Ahthumb War<br />
    Rexburg, Idaho 83440<br />
    <abbr title="Phone">P:</abbr>
    208.867.5309
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">SupportItYourself@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingCorrectly@example.com</a>
</address>
