@page
@model MegaDesk30.Pages.Desks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Desk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Desk.width" class="control-label"></label>
                <input asp-for="Desk.width" class="form-control" />
                <span asp-validation-for="Desk.width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.depth" class="control-label"></label>
                <input asp-for="Desk.depth" class="form-control" />
                <span asp-validation-for="Desk.depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.numDrawers" class="control-label"></label>
                <input asp-for="Desk.numDrawers" class="form-control" />
                <span asp-validation-for="Desk.numDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.surfaceMaterial" class="control-label"></label>
                <input asp-for="Desk.surfaceMaterial" class="form-control" />
                <span asp-validation-for="Desk.surfaceMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
